body {
  background-color: #EEEEEE;
  font-family: 'Roboto', sans-serif;
}

p, li {
  color: rgb(50,50,50);
}

h1 {
  color: #222831;
  font-family: 'Open Sans', sans-serif;
}

h2 {
  color: #393e46;
  font-family: 'Open Sans', sans-serif;
}

h3 {
  font-family: 'Open Sans', sans-serif;
}

img {
  width: 300px;
}

.container {
  width: 40%;
  margin: 0px auto;
  min-width: 700px;
}
.card {
  margin: 30px auto;
  padding: 20px;
  background-color: rgb(250,250,250);
  border-radius: 10px;
  box-shadow: 2px 2px 3px rgba(20,20,20,0.3)
}

.text-center {
  text-align: center;
}

.text-negrite {
  color: #00adb5;
  font-family: 'Roboto', sans-serif;
}
.img-circle {
  width: 150px;
  height: 170px;
  border-radius: 50%;
}

.list-inline {
  padding-left: 0px;
}

.list-inline > li {
  display: inline-block;
  padding: 0px 20px;
}

.btn-blue {
  text-decoration: none;
  color: rgba(250,250,250,0.7);
  background-color: #00adb5;
  padding: 10px;
  border-radius: 5px;
  margin: 10px auto;
}

.btn-simple {
  list-style-type: none;
  margin: 30px;
  text-align: center;
}

.icons{
  text-decoration: none;
  font-size: 30px;
  color: #393e46;
}

.icons:hover{
  text-decoration: none;
  font-size: 30px;
  color: #00adb5;
}

.text-simple {
  text-decoration: none;
  color: #EEEEEE;
}

.btn-white {
  width: 40px;
  height: 30px;
  padding: 10px 0 5px 0;
  border: 1px solid rgba(0, 0, 0, 1.0)
  border-radius: 2px;
}

#sidebar {
  position: fixed;
  width: 10%;
  left: 0;
  top: 0;
  bottom: 0;
  background-color: #393E46;
}

#page-content {
  margin-left: 30%;
}
@media (max-width: 300px) {
   For a screen < 540px, this CSS will be read
  .container {
    width: 300px;
  }
}


